{% extends 'base.html' %}

{% block content %}



<div class="card">
     <div class="card-body">
         <h3>PROXY</h3>
         <hr>
         <a class="btn btn-success" href = "{% url 'addproxy' %}"> Add </a>
         <table class="table table-striped">
            <thead>
                <tr>
                    <th> IP Address </th> 
                    <th> Port </th> 
                    <th> Protocol </th>
                    <th> Anonymity </th> 
                    <th> Country </th>
                    <th> Region </th>
                    <th> City </th>
                    <th> Uptime </th>
                    <th> Response </th>
                    <th> Transfer </th>
                    <th> Actions</th>
                </tr>
            </thead>

            <tbody>

                {% for proxy in proxylist %}

                    <tr>
                        <td>{{ proxy.ip_address }}</td>
                        <td>{{ proxy.port }}</td>
                        <td>{{ proxy.protocol }}</td>
                        <td>{{ proxy.anonymity }}</td>
                        <td>{{ proxy.country }}</td>
                        <td>{{ proxy.region }}</td>
                        <td>{{ proxy.city }}</td>
                        <td>{{ proxy.uptime }}</td>
                        <td>{{ proxy.response }}</td>
                        <td>{{ proxy.transfer }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'editproxy' proxy.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'deleteproxy' proxy.id %}" onclick="return confirm('Are you sure you want to delete this item?')" >Delete</a>
                        </td>

                    </tr>
                {% endfor %}
                
            </tbody>

         </table>
     </div>

</div>

{% endblock content %}